body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/000/511/336/original/vector-numbers-seamless-multicolor-background.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: white;
    text-align: center;
}

form {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow:rgba(56, 56, 150, 0.2) 0px 7px 29px 0px;
    border-radius: 40px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}
p:hover{
    color: blue;
}
#bt-n{
    background-color: black;
    color: white;
    padding:10px 20px;
    border-radius:5px ;
    cursor: pointer;
}
#bt-n:hover{
    box-shadow:0 0 5px black, 0 0 25px black,0 0 50px black,0 0 100px black,0 0 200px black;
}
#bt{
    box-shadow: 0 0 5px #4CAF50, 0 0 25px #4CAF50;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#bt:hover{
    box-shadow: 0 0 5px #4CAF50, 0 0 25px #4CAF50,0 0 50px #4CAF50,0 0 100px #4CAF50,0 0 200px #4CAF50;
}
#main{
    position: relative;
    font-size: 2em;
    letter-spacing: 0px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    -webkit-box-reflect:below 1px linear-gradient(transparent,black);
    line-height: 0.5em;
    outline: none;
    animation:  animate  5s linear infinite;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #0e3742;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: white;
        text-shadow: 0 0 20px #03bcf4,0 0 40px #03bcf4,0 0 80px #03bcf4,0 0 160px #03bcf4;
    }
   
}