body{
    font-family: "cursive",sans-serif;
    background-image: url("https://thumbs.dreamstime.com/b/modern-blue-abstract-background-transparent-squares-simple-mosaic-pattern-vector-illustration-152962004.jpg");
    background-size: cover;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
#head-line{
    font-size: 5vw;
    margin-top: 250px;
    text-shadow:  20px 2px 4px  black;
}

#head-line:hover{
    color: palevioletred;
}
#tag-line{
 
    line-height: 1.8px;
    font-style: oblique;
    font-weight:300px ;
    font-size:2.5vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    box-shadow: 0 0 5px #4CAF50, 0 0 25px #4CAF50;
    padding:1.5vh 3vw;
    border-radius:5px;
    font-size: 2vw;
    border: none;
    background-color: lightgreen;
    color: white;
}
button:hover{
    box-shadow: 0 0 5px #4CAF50, 0 0 25px #4CAF50,0 0 50px #4CAF50,0 0 100px #4CAF50,0 0 200px #4CAF50;
}
.play{
    height: 6vh;
    position: absolute;
    top: 10px;
    left: 20px;
}

@media only screen and (max-width:600px){
    #head-line{
        font-size: 1.5em;
        margin-top: 260px;
        margin-left: 15px;
        
    }
    #tag-line{
        font-size: 18px;
    }
    button{
        font-size: 1.0em;
    }
}
